fastapi~=0.115.11
uvicorn~=0.34.0
websockets==12.0
openai~=1.68.2
openai-agents
aiofiles
colorama>=0.4.6
tensorflow
termcolor
python-dotenv==1.0.1
pydantic
python-multipart==0.0.19
deepgram-sdk==3.10.1
pyaudio==0.2.13 
pip~=25.0.1
attrs~=25.1.0
PySocks~=1.7.1
tornado~=6.4.2